h1 {
  font-weight: bold;
  font-size: 50px;
  color: #2f2e41;
}

.weather-app {
  max-width: 900px;
  margin: 60px auto;
  padding: 40px;
  border: 3px solid #f2f2f2;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.card {
  text-align: center;
}

.temperature-element {
  text-align: left;
}

.btn {
  background-color: #ffff;
  border: 1px #2f2e41 solid;
  color: #2f2e41;
  font-weight: bold;
  padding: 10px 30px;
  box-shadow: 2px 2px 2px #2f2e41;
  text-align: center;
}

.btn:hover {
  background-color: #2f2e41;
  color: #ffff;
  border: 1px #2f2e41;
}

.weather-image {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.current-data {
  display: flex;
  align-items: center;
}

.units {
  position: relative;
  top: -28px;
  font-size: 20px;
}
.humidity,
.windspeed {
  color: #2f2e41;
  font-size: 14px;
  text-align: left;
}

.humidity,
.windspeed,
.forecast-temp-max {
  font-weight: bold;
}

.forecast-day,
.forecast-temp-max,
.forecast-temp-min {
  color: #2f2e41;
}

.forecast-temp-max,
.forecast-temp-min {
  font-size: 12px;
}

.source-code {
  padding-top: 30px;
}

#exampleInputEmail1 {
  border: 1px #2f2e41 solid;
  box-shadow: 2px 2px 2px #f2f2f26b;
}

#city-element {
  font-size: 30px;
  color: #ff6584;
  font-weight: bold;
  align-items: center;
}

#icon {
  max-width: 40%;
}

#current-temp {
  font-size: 90px;
  font-weight: bolder;
  color: #f9a826;
}

#condition-element {
  text-transform: capitalize;
  padding-bottom: 20px;
}
